

    html, body {
    max-width: 100%;
    overflow-x: hidden !important; /* Sudhu horizontal scroll bondho korbe */
    margin: 0;
    padding: 0;
}
    body{
        background-image: url(compress-i/SL-120722-54440-04.webp);
        background-color:#f0f0f0;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        min-height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
       
    
    }

    .tittle{
        font-size:25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#4A0E0E;
        border:2px solid rgba(255, 255, 255, 0.534);
        background-color: #686d816b;
        border-radius: 10px;
        margin-right: 20px;
        display: block;
        text-align: center;

        backdrop-filter: blur(10px);
    }

   

    #span-tittle{
         
         display: inline-block;
    }
    

    .h3-welcome{
        color: rgb(31, 128, 145);
    }

    .own-created{
        color: rgba(102, 194, 194, 0.658);

        line-height:20px;
       
     
       
    }

    .my-picture{
        border-radius: 10px;
        width: 150px;
        height: auto;
        transition: transform 0.5s ease-in-out 0.1s;
        
    }

        .my-picture:hover{
            transform: translateX(30px);
     

    } 

    .pharagraph-all5 li{
        border:1px solid rgb(11, 160, 68);
        background-color: rgba(95, 158, 160, 0.13);
        width: fit-content;
        border-radius: 5px;
        padding: 3px;
        margin-bottom: 5px;
        margin-left: -20px;
       
    
    }
    .pharagraph-all5 li:hover{
        border:1px solid rgb(11, 160, 68);
        background-color: azure;
        border-radius: 7px;
        padding: 5px;
        width: fit-content;

         

    }

    .my-png-sticker{
        width: 400px;
        height: auto;
        transform: translate(350px,-100px);

    }
    .hi-guys{
        color: #816413b9;
        font-size: larger;
        display: inline-block;
        transform: translate(-120px,-130px);
             animation: hi-guys 0.5s 0.1s normal forwards 1 ease-in;
          
    }
  .hi-guys:hover{
        color: #1fb859b9;
        font-size: larger;
        display: inline-block;
        
             
    }

    .hi-guys::after{
        content: "🙎";
    }

    .big-paragraph{
        font-style: italic;
    }

    #fb{
        margin-right: 70%;
        transform: translateY(-80px);
        display: inline-block;
        white-space: nowrap;

         }

         .logo-image{
            position: absolute;
            top:90px;
            right: 2%;
            width: 100px;
            height: auto;
            color: #4A0E0E;
         }
         

         .overflow-8-image{
            overflow-x: hidden;
            overflow-y: auto;
            height: 400px;
            width:25%;
            display: block;
            border-radius: 10px;
              background-color: #cfa9a969;
              position: absolute;
              right: 50%;
              top:180px
         }

         .img-8{
            width: 100%;
            border-radius: 10px;
            border: 2px solid rgba(56, 165, 46, 0.226);
            
          

         }
         .img-upper-word{
                    color: #4A0E0E;
                    font-family: Arial, Helvetica, sans-serif;
                    position: absolute;
                     right: 68%;
                     top:140px;
                    
                     

         }

         .help-center{
            position: fixed;
            right: 1%;
            bottom: 40px;
            width: 80px;
            height: auto;
         }
         .input{
           border:2px solid rgba(255, 255, 255, 0.534);
        background-color: #6881736b;
            position: absolute;
            right: 90%;
            border-radius: 10px;
            padding:1px;
         }
         .input-word{
            position: absolute;
          
            color: #4A0E0E;
            left: 11%;

         }
         .input:hover{
          border:2px solid rgba(255, 255, 255, 0.534);
        background-color: #686d816b;
            position: absolute;
            right: 90%;
            border-radius: 10px;
            padding:1px;
         }
         
         .input-word::after{
            content:"💁‍♂️" ;
         }
         
         .alhamdulillah-animation{
             color:#4A0E0E;
        border:2px solid rgba(255, 255, 255, 0.534);
        background-color: #686d816b;
            border-radius: 10px;
         }
         .alhamdulillah-span{
            display: inline-block;
            animation: alhamdulillah-animation 6s 0s normal infinite none linear;
         }

         .dhaka-metro{
            width: 320px;
            height: auto;
            position: absolute;
            top:19%;
            left: 50%;
            border-radius: 30px;

         }
         .circle-1{
            height: 50px;
            width: 50px;
            background-color: #4a0e0e8a;
            border-radius: 50%;
            animation: circlee 3s 0s alternate none infinite ease-in-out;
         }
         .circle-2{
            height: 50px;
            width: 50px;
            background-color: #d17373;
            border-radius: 50%;
            animation: circlee2 3s 0s alternate none infinite ease;
         }

         .circle-3{
            height: 50px;
            width: 50px;
            background-color: #499742;
            border-radius: 50%;
            animation: circlee3 3s 0s alternate none infinite ease-in-out;
         }
         
         @keyframes circlee{
            0%{transform: translate(0px,-190px);}
            50%{transform: translate(0px,-340px);}
            100%{transform: translate(0px,-190px);}
         }

          @keyframes circlee2{
            0%{transform: translate(57px,-240px);}
            50%{transform: translate(57px,-390px);}
            100%{transform: translate(57px,-240px);}
         }

          @keyframes circlee3{
            0%{transform: translate(110px,-430px);}
            50%{transform: translate(110px,-290px);}
            100%{transform: translate(110px,-430px);}
         }

         @keyframes alhamdulillah-animation {
            0%{transform: translate(-250px,0);}
            100%{transform: translate(1900px,0px);}
         }







     @keyframes hi-guys{
        0%{transform: translate(-120px,-130px);}
        100%{transform:translate(-35px,-130px)}
    }


    @media only screen and (max-width:600px){
        body{
            overflow-x: hidden;
      
            
         
        }

        .pharagraph-all5{
           
            transform: translate(190px,-170px);
        }
    .pharagraph-all5 li{
        margin-left: -25px;
        font-size:12px;
        white-space: nowrap;
        line-height: 1.5;
       
    }
     
      .my-png-sticker{
        width: 280px;
        height: auto;
        transform: translate(140px,-230px);

      }
    
    .hi-guys{
        transform: translate(-100px,-250px);
        animation: hi-guys 0.5s 0.1s normal forwards 1 ease-in;
   
    }
   

     @keyframes hi-guys{
        0%{transform: translate(-10px,-280px);}
        100%{transform:translate(120px,-280px)}
    }
   
    .big-paragraph{
        transform: translate(0px,-150px);
        max-width: 250px;
        line-height: 1.5;
        font-style: italic;
    }
    #fb{
     transform: translate(215px,-210px);
     right: 5%;

    }
    .logo-image{
        width:80px ;
        right: 5% !;
    }
         .overflow-8-image{
            width: 220px;
            height: 220px;
            top:900px;
            left: 10px;


}

.img-upper-word{
           
            top:850px;
            left: 14px;
}

.help-center{
    width: 50px;
}

.input{
    left:10px;
    width: 100px;
}

.input-word{
    left: 32%;
    white-space: nowrap;
    transform: translateY(-1px);

}
  .dhaka-metro{
    border-radius: 15px;
    position: absolute;
    left:20px ;
    top:1230px;
    width: 320px;
  }

  @keyframes alhamdulillah-animation {
            0%{transform: translate(-250px,0);}
            100%{transform: translate(400px,0px);}
         }

  .alhamdulillah-animation{
    width: 92%;
    display: block;
    overflow: hidden;
    position: absolute;
   transform: translate(0%,250px);
  }
  
  .dhaka-metro{
    border-radius: 15px;
    position: absolute;
    left:20px ;
    top:1230px;

  }
  .circle-1,.circle-2,.circle-3 {
     height: 20px;
     width: 20px;
     position: absolute;
     right: 40%;
     
    


  }
     @keyframes circlee{
            0%{transform: translate(30px,-200px);}
            50%{transform: translate(150px,-200px);}
            100%{transform: translate(30px,-200px);}
         }

          @keyframes circlee2{
            0%{transform: translate(30px,-150px);}
            50%{transform: translate(150px,-150px);}
            100%{transform: translate(30px,-150px);}
         }

          @keyframes circlee3{
            0%{transform: translate(30px,-100px);}
            50%{transform: translate(150px,-100px);}
            100%{transform: translate(30px,-100px);}
         }



}



